pre {
    margin: 1.2rem;
    border-radius: 0.3rem;
    padding: 0.2rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

html, body {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ws-wrapper {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

ws-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ws-cell {
    width: 25px;
    height: 25px;
    font-size: 12px;;
}